<h2>Interested in LSM-trees and Rust?</h2>
<p>
  Check out <a href="https://github.com/fjall-rs/fjall" target="_blank">fjall</a>, an MIT-licensed
  LSM-based storage engine written in Rust.
</p>
<iframe
  src="https://github.com/sponsors/fjall-rs/card"
  title="Sponsor fjall"
  height="80"
  width="100%"
  style="border: 0;"></iframe>
